@font-face {
  font-family: "iconfont"; 
  src: url('iconfont.woff2?t=1670338287297') format('woff2'),
       url('iconfont.woff?t=1670338287297') format('woff'),
       url('iconfont.ttf?t=1670338287297') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 24px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fanhui:before {
  content: "\e602";
}

.icon-guanbi:before {
  content: "\e634";
}

.icon-right-1-copy:before {
  content: "\e61f";
}

.icon-31sousuo:before {
  content: "\e601";
}

.icon-gouwucheman:before {
  content: "\e600";
}

.icon-huodong:before {
  content: "\e6a9";
}

.icon-shezhi:before {
  content: "\e786";
}

.icon-shouye:before {
  content: "\e61e";
}

.icon-gouwuche:before {
  content: "\e73d";
}

.icon-icon:before {
  content: "\e62f";
}

.icon-qiandao:before {
  content: "\e653";
}

.icon-huiyuan:before {
  content: "\e67e";
}

.icon-dianying:before {
  content: "\e67d";
}

.icon-lianxikefu:before {
  content: "\e624";
}

.icon-wode:before {
  content: "\e630";
}

.icon-xunzhang:before {
  content: "\e80d";
}

.icon-qianbao:before {
  content: "\e604";
}

.icon-xiajiantou:before {
  content: "\eb6d";
}

.icon-jifenduihuan:before {
  content: "\e61c";
}

.icon-jiangbei:before {
  content: "\e693";
}

.icon-kefu:before {
  content: "\e60e";
}

.icon-caidan:before {
  content: "\e643";
}

.icon-wode1:before {
  content: "\e613";
}

.icon-caidan1:before {
  content: "\e64f";
}

.icon-shangcheng:before {
  content: "\e6b9";
}

.icon-shipin:before {
  content: "\e618";
}

.icon-xingxing:before {
  content: "\e75b";
}

.icon-jiangbei1:before {
  content: "\e761";
}

.icon-faxian:before {
  content: "\e623";
}

.icon-huiyuan1:before {
  content: "\e6c6";
}

.icon-yifu:before {
  content: "\e60d";
}

.icon-quanyipeizhi:before {
  content: "\e7c4";
}

.icon-wodekaquan:before {
  content: "\e61b";
}

.icon-sds_di32leipijiuyinliao:before {
  content: "\e61a";
}

.icon-yinshijihua:before {
  content: "\e607";
}

.icon-shuqian:before {
  content: "\e64d";
}

.icon-bell:before {
  content: "\e96d";
}

.icon-dianyingyuan:before {
  content: "\e60f";
}

.icon-shoucangjia:before {
  content: "\ed1d";
}

